header{
    background-color: #00A884;
    min-height: 120px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    .header__container{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}